<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:name="com.astroloop.game.lab.LabApp">
        <!-- The Lab opens on its own screen; the game activity is only started by it. -->
        <activity
            android:name="com.astroloop.game.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            tools:replace="android:exported">
            <intent-filter tools:node="removeAll" />
        </activity>

        <activity
            android:name="com.astroloop.game.lab.TuningEditorActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.astroloop.game.lab.LoadoutActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name="com.astroloop.game.lab.LibraryActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name="com.astroloop.game.lab.ResultsActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name="com.astroloop.game.lab.LabActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
